{% extends "base.html" %}
{% block title %}Artikelen aan groep toevoegen{% endblock %}
{% block body %}
<div id="outer-container" class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse show row"
        id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 col-6 row">
          <!-- Icons -->
          <li class="nav-item">
             <a class="nav-link" href="{{ url_for('index',d=url_param)}}" title="Terug naar lijst">
                <i class="ri-home-4-fill ri-xl"></i>
              </a>
          </li>
        </ul>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-6">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('artikelen.toevoegen',d=url_param)}}"
              title="Product toevoegen">
              <i class="ri-menu-add-fill ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('organisaties.organisaties',d=url_param)}}"
              title="Groep toevoegen">
              <i class="ri-list-check-2 ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('groepen.groepen',d=url_param)}}"
              title="Groep toevoegen / bewerken">
              <i class="ri-shopping-basket-line ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('gebruikers.logout')}}"
              title="Logout">
              <i class="ri-logout-box-r-line ri-xl"></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div class="contentbar">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header row">
            <div class="col-md-10 col-lg-10 col-xl-10">
              <h5 class="card-title">Artikelen toevoegen aan groep {{groep.omschrijving}}</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-xl-12">
                <div class="cart-container">
                  <div class="row article-list">
                    <!-- twee kolommen om producten van links naar rechts te slepen -->

                <div id="column-from" class="col-md-5 col-lg-5 col-xl-5 connectedSortable">
                   {% for artikel in artikelen %}
                   {% if artikel.id not in groep_artikelen_ids %}
                    <div class="article btn btn-primary" data-id="{{artikel.id}}" data-order="{{ artikel.omschrijving }}">{{ artikel.omschrijving }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                    <div id="column-between" class="col-md-2 col-lg-2 col-xl-2"><i class="ri-arrow-left-right-fill"></i></div>
                <div id="column-to" class="col-md-5 col-lg-5 col-xl-5 connectedSortable">
                  {% for artikel in groep_artikelen %}
                    <div class="article btn btn-success" data-id="{{artikel.id}}" data-order="{{ artikel.omschrijving }}">{{ artikel.omschrijving }}</div>
                  {% endfor %}
                </div>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>
<script>
var main_url = "//" + location.host + "/"

function get_query(){
  var url = document.location.href;
  var qs = url.substring(url.indexOf('?') + 1).split('&');
  for(var i = 0, result = {}; i < qs.length; i++){
    qs[i] = qs[i].split('=');
    result[qs[i][0]] = decodeURIComponent(qs[i][1]);
  }
  return result;
}

function save_order(){

  var data = []
  $('div#column-to div.article').each(function(index, value){
      data.push({id:$(this).data('id')})
  });
  if (data.length > 0) {
       var post_data = {groep:get_query().id, data:data}
       jQuery.ajax({
          type: 'POST',
          contentType: "application/json;",
          url: '{{ url_for('groepen.save_groep') }}',
          data: JSON.stringify(post_data),
          dataType: "json"
      }).done(function(data) {
          kolommen_bijwerken()
      });
  }

}

function kolommen_bijwerken(){
  check_class()
  sort_from_to()
}

function check_class(){

    // alle to groen
    $('div#column-from div.article.btn-success').each(function(index, value){
        $(this).toggleClass('btn-success').toggleClass('btn-primary')
    });
    // alle from blauw
    $('div#column-to div.article.btn-primary').each(function(index, value){
        $(this).toggleClass('btn-primary').toggleClass('btn-success')
    });


}

function vergelijk(a,b){
  if ($(a).data("order") > $(b).data("order")) return 1
  if ($(a).data("order") == $(b).data("order")) return 0
  if ($(a).data("order") < $(b).data("order")) return -1
}

function sort_from_to() {

  $("#column-from div")
      .sort(vergelijk)
      .appendTo("#column-from");

  $("#column-to div")
      .sort(vergelijk)
      .appendTo("#column-to");

}


$(document).ready(function() {

    $.ajaxSetup({
      xhrFields: {
        withCredentials: true
      }
    });

    $('#select_artikel').on('change', function() {
      if (this.value != '') $( "#form-artikel" ).submit();
    });

   $("#column-from, #column-to" ).sortable({
      items: "div.article",
      connectWith: ".connectedSortable",
      stop: function( event, ui ) {
        save_order()
      }

});

$(".article").dblclick(function(){
  if ($(this).hasClass('btn-primary')){
    $(this).appendTo("#column-to");
  }
  if ($(this).hasClass('btn-success')){
    $(this).appendTo("#column-from");
  }

  save_order()

})


})
</script>
{% endblock %}