{% extends "base.html" %}
{% block title %}Groep toevoegen{% endblock %}
{% block body %}
<div id="outer-container" class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav d-flex flex-row">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ url_for('index',d=url_param)}}" title="Terug naar lijst">
                <i class="ri-home-4-fill ri-xl"></i>
              </a>
            </li>
          </ul>
<!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-6">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('artikelen.toevoegen',d=url_param)}}"
              title="Product toevoegen">
              <i class="ri-menu-add-fill ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('organisaties.organisaties',d=url_param)}}"
              title="Groep toevoegen">
              <i class="ri-list-check-2 ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('groepen.groepen',d=url_param)}}"
              title="Groep toevoegen / bewerken">
              <i class="ri-shopping-basket-line ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('gebruikers.logout')}}"
              title="Logout">
              <i class="ri-logout-box-r-line ri-xl"></i>
            </a>
          </li>
        </ul>
        </div>
      </nav>
    <div class="contentbar">
        <!-- Start row -->
        <div class="row">
            <!-- Start col -->
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="card m-b-30">
                    <div class="card-header">
                        {% if current_user %}<p>Groepen voor <strong>{{ current_user.fullname }}</strong></p>{% endif %}
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-xl-8">
                                <div class="cart-container">
                                    <div class="cart-head">
                                        <form method="POST" action="{{ url_for('groepen.groepen',d=url_param) }}">
                <div class="form-group">
                  <input type="text" class="form-control" id="groep" name="groep" placeholder="Groep omschrijving">
                </div>
                <button type="submit" class="btn btn-primary">Opslaan</button>
              </form>
              {% if groepen != [] %}
              <h4 class="product-heading">Reeds beschikbare groepen</h4>
                                        {% else %}
                                        <h5 class="product-heading">Je hebt nog geen groepen aangemaakt</h5>
                                        {% endif %}
              <div class="row group-list">
              {% for groep in groepen %}

                <div id="row-{{ groep.id }}" class=" col-md-5 col-lg-5 col-xl-5">
                    <span class="article_counter">{{ loop.index }}.</span>
                    <i class="verwijderen ri-delete-bin-3-line" data-id="{{ groep.id }}"></i>
                    <span class="update-groep">
                        <a href="{{ url_for('groepen.artikelen_in_groepen', id=groep.id, d=url_param) }}"
                               title="Voeg artikelen toe bij {{groep.omschrijving}}"
                               class="text-danger">
                                <i class="ri-edit-line"></i>
                        </a>
                        </span>
                    <p class="description">{{ groep.omschrijving }}

                    </p>
                </div>
              {% endfor %}
              </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End col -->
        </div>
        <!-- End row -->
    </div>
</div>
<script>
var main_url = "//" + location.host + "/"

$(document).ready(function() {


    $.ajaxSetup({
      xhrFields: {
        withCredentials: true
      }
    });

     $('i.verwijderen').on('click', function() {

        var element = $(this)
        var id = $(this).attr('data-id')

        // Send the data using post
        var posting = $.post( '{{ url_for('groepen.verwijder_groep') }}', { id: id} );

        // Put the results in a div
        posting.done(function( data ) {
            if (data == "1"){
                $('div#row-' + id).remove()
                $('span.article_counter').each(function(index, value){
                    $(this).text((index+1) + ".")
                });
            } else {
                window.location.href=main_url
            }

        });

        return false
    });

    $("#groep").focus()

})

</script>
{% endblock %}