{% extends "base.html" %}
{% block title %}Bewerken {{ product.omschrijving }}{% endblock %}

{% block body %}
    <div class="container">
          {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <ul class="navbar-nav d-flex flex-row" style="margin-left: -35px;">
            <!-- Icons -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="{{ url_for('index',d=url_param)}}" title="Terug naar lijst">
                <i class="ri-home-4-fill ri-xl"></i>
              </a>
            </li>
          </ul>
            <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-6">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('artikelen.toevoegen',d=url_param)}}"
              title="Product toevoegen">
              <i class="ri-menu-add-fill ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('organisaties.organisaties',d=url_param)}}"
              title="Groep toevoegen">
              <i class="ri-list-check-2 ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('groepen.groepen',d=url_param)}}"
              title="Groep toevoegen / bewerken">
              <i class="ri-shopping-basket-line ri-xl"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="{{ url_for('gebruikers.logout')}}"
              title="Logout">
              <i class="ri-logout-box-r-line ri-xl"></i>
            </a>
          </li>
        </ul>
        </div>
      </nav>
      <div class="page-header">
        <h1>Bewerken {{ product.omschrijving }}</h1>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="well bs-component">
              <form class="form-horizontal" method="POST" action="{{ url_for('artikelen.bewerk_artikel',id=product.id, d=url_param) }}">
                <fieldset>
                  <div class="form-group">
                    <label for="omschrijving" class="col-lg-2 control-label">Omschrijving</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control {{ fv[0][0] }}" name="omschrijving" id="omschrijving" placeholder="Omschrijving" value="{{ product.omschrijving }}">
                      <div class="invalid-feedback">
                        <div>{{ fv[0][1] }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Organisatie</label>
                    <div class="col-lg-10">
                      <select class="form-control" name="organisatie" id="organisatie">
                      {% for sel in select %}
                          <option value="{{ sel.id }}" {% if sel.id == product.organisatie %}selected{% endif %}>{{ sel.omschrijving }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}