body {
	background: #f4f5f7;
	margin-top: 20px;
}

.cart-container {
	border: 1px solid rgba(0, 0, 0, 0.05);
	padding: 30px;
}

.cart-container .cart-body {
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	padding: 30px 0 20px;
	margin: 20px 0 30px;
}

#navbarButtonsExample {
	justify-content: space-between;
}

#wijzig-menu {
	justify-content: space-between;
	width: 100%;
}

.card-header {
	margin: 0
}

.navbar-nav.ms-auto {
	margin-left: auto;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
	margin-bottom: 20px;
}

.ri-xl {
	font-size: 1.5em;
	font-weight: lighter;
	line-height: 0.6666em;
}

#datum {
	width: 80px;
	display: none;
}

#restart-link {
	display: none;
}

.ri-restart-line.ri-xl {
	vertical-align: -.5rem;
}

.navbar-nav.me-auto.mb-2.mb-lg-0.col-6 {
	justify-content: end;
	text-align: right;
}

.navbar-nav.me-auto.mb-2.col-6.row {
	flex-direction: row;
}

#datum {
	border-radius: .25rem;
}

.product-heading {
	margin-top: 30px;
}

.product-list {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}

.product-list li {
	margin: 5px 0;
}

@media (max-width: 767px) {
	h5 {
		font-size: 1rem;
	}

}

ul.flashes li {
	list-style: none;
	color: red;
	font-weight: bolder;
	font-size: 110%;
	text-align: center;
}

.nav-item {
	padding-left: 0px;
}

a.verwijderen i {
	color: darkred;
	float: left;
	margin-right: 5px;
}

div.card-header>div {
	padding-right: 0;
}

#verzendbevestiging {
	text-align: left;
	float: left;
	display: none;
	color: red;
}

div.product-list>div, div.group-list>div {
	margin: 4px;
	background-color: #d3d3d380;
	padding: 7px;
	cursor: pointer;
	float: left;
}

div.org-list .org-inner {
	background-color: #d3d3d380;
	padding: 10px;
	margin: 4px;
}

div.org-list p {
    display: inline-block;
}

.org-inner i {

    cursor:pointer;
}

.ri-arrow-left-right-fill {
font-size: 200%;
}

#column-between {
	text-align: center;
	align-self: center;
	font-weight: ;
}

div.group-list>div{
    cursor: default;
}

.article_counter {
	display: flex;
	float: left;
	width: 24px;
	padding: 5px;
}

div.product-list>div>p {
	margin-bottom: 0px;
	display: inline-block;
}

ul.product-list .verwijderen {
	margin-right: 5px;
}

.row.product-list, .row.group-list  {
	margin-left: 0;
	justify-content: space-between;
}

.description {
	margin: 0;
	display: inline-block;
}

.article {
	margin: 2px;
}

.row.select-header {
	text-align: center;
}
#column-from, #column-to {
	border: solid thin #b3a0a0;
	padding: 5px;
	border-radius: 5px;
}


.update-groep {
	font-size: 1.2rem;
}

p.description { padding: 5px; outline: 0px solid transparent; border-radius: 3px; }
/* p.description:not(:focus) { border: 1px dashed #ddd; } */
p.description:focus { border: 1px solid #51a7e8; box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5); }

.pwd-forget {
	font-size: .9rem;
}

.form-check {
	margin-bottom: 1rem;
}

.form-check-label {
	margin-right: 1.7rem;
}

.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}