{% extends "base.html" %}
{% block title %}Artikelen aan groep toevoegen{% endblock %}
{% block body %}
<div id="outer-container" class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse show row"
        id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 col-6 row">
          <!-- Icons -->
          <li class="nav-item">
             <a class="nav-link" href="{{ url_for('index',d=url_param)}}" title="Terug naar lijst">
                <i class="ri-home-4-fill ri-xl"></i>
              </a>
          </li>
        </ul>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <div class="contentbar">
    <!-- Start row -->
    <div class="row">
      <!-- Start col -->
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card m-b-30">
          <div class="card-header row">
            <div class="col-md-10 col-lg-10 col-xl-10">
              <h5 class="card-title">Artikelen toevoegen aan groep {{groep.omschrijving}}</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-12 col-xl-12">
                <div class="cart-container">
                  <div class="row article-list">
                    <!-- twee kolommen om producten van links naar rechts te slepen -->

                <div id="column-from" class="col-md-5 col-lg-5 col-xl-5 connectedSortable">
                   {% for artikel in artikelen %}
                   {% if artikel.id not in groep_artikelen_ids %}
                    <div class="article btn btn-primary" data-id="{{artikel.id}}" data-order="{{ artikel.omschrijving }}">{{ artikel.omschrijving }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                    <div id="column-between" class="col-md-2 col-lg-2 col-xl-2"><i class="ri-arrow-left-right-fill"></i></div>
                <div id="column-to" class="col-md-5 col-lg-5 col-xl-5 connectedSortable">
                  {% for artikel in groep_artikelen %}
                    <div class="article btn btn-success" data-id="{{artikel.id}}" data-order="{{ artikel.omschrijving }}">{{ artikel.omschrijving }}</div>
                  {% endfor %}
                </div>
              </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End col -->
    </div>
    <!-- End row -->
  </div>
</div>
<script>
var main_url = "//" + location.host + "/"

function get_query(){
  var url = document.location.href;
  var qs = url.substring(url.indexOf('?') + 1).split('&');
  for(var i = 0, result = {}; i < qs.length; i++){
    qs[i] = qs[i].split('=');
    result[qs[i][0]] = decodeURIComponent(qs[i][1]);
  }
  return result;
}

function check_class(){

    // alle to groen
    $('div#column-from div.article.btn-success').each(function(index, value){
        $(this).toggleClass('btn-success').toggleClass('btn-primary')
    });
    // alle from blauw
    $('div#column-to div.article.btn-primary').each(function(index, value){
        $(this).toggleClass('btn-primary').toggleClass('btn-success')
    });


}

function sort_from_to() {

$("#column-from div")
    .sort((a,b) => $(a).data("order") > $(b).data("order"))
    .appendTo("#column-from");

$("#column-to div")
    .sort((a,b) => $(a).data("order") > $(b).data("order"))
    .appendTo("#column-to");

}


$(document).ready(function() {

    $.ajaxSetup({
      xhrFields: {
        withCredentials: true
      }
    });



    $('#select_artikel').on('change', function() {
      if (this.value != '') $( "#form-artikel" ).submit();
    });

    $('a.verwijderen').on('click', function() {

        var element = $(this)
        var id = $(this).attr('data-id')

        // Send the data using post
        var posting = $.post( main_url + 'delete', { id: id} );

        // Put the results in a div
        posting.done(function( data ) {
            if (data == "3") {
              window.location.href = main_url
              return false
            } else {
              $('#row-' + id).remove()
              $( ".artikel-nummer" ).each( function( index, element ){
                  $( element ).html(index+1)
              });
             }
        });

        return false
    });

   $("#column-from, #column-to" ).sortable({
  items: "div.article",
  connectWith: ".connectedSortable",
  stop: function( event, ui ) {
    check_class()
    var data = []
    $('div#column-to div.article.btn-success').each(function(index, value){
        data.push({id:$(this).data('id')})
    });
    if (data.length > 0) {
         var post_data = {groep:get_query().id, data:data}
         jQuery.ajax({
            type: 'POST',
            contentType: "application/json;",
            url: main_url + 'save-groep',
            data: JSON.stringify(post_data),
            dataType: "json"
        }).done(function(data) {

            });
        }

    }

});

$(".article").dblclick(function(){
  if ($(this).hasClass('btn-primary')){
    $(this).appendTo("#column-to");
  }
  if ($(this).hasClass('btn-success')){
    $(this).appendTo("#column-from");
  }

  check_class()
  sort_from_to()

})


})
</script>
{% endblock %}